*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "overpass",sans-serif;
}
body{
    background-color: #252d37;
}
#Reg-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;

}
#f-c{
line-height: 20px;
border-radius: 10px;
color: black;
}